<div id="deezerWidgetContainer" class="center widget fakeHide">
<h3 >You are currently listening a song from</h3>
<a href="http://www.deezer.com/?app_id={{ parameters.appId }}" target="_blank"><img src="{{ asset('bundles/cogimixdeezer/images/deezer-logo.png')}}" title="Deezer" alt="Deezer"/></a>
</div>