<li class="playlist-listitem dz-playlist-item draggable" data-alias="{{ 'Deezer'~item.id }}" data-droppedhook='dz-playlist' data-id="{{ item.id }}">
<a href="#" class="showPlaylistDeezerBtn">{{ item.name }}</a>
<div class="playlist-action">
     <a class="playPlaylistDeezerBtn actionBtn glyphicon glyphicon-play" href="#"></a>
</div>
</li>