<ul id="dz-playlist-container">
{% if playlists is not empty %}
<li><img class="playlist-icon" src="{{ asset('bundles/cogimixdeezer/images/deezer-icon.png') }}"/><a data-toggle="collapse"  href="#dz-playlist-list"> Deezer</a></li>
{% endif %}
<ul id="dz-playlist-list" class="collapse out">
{% if playlists is not empty %}
    {% for item in playlists %}
        {% include 'CogimixDeezerBundle:Playlist:item.html.twig' %}
    {% endfor %}
{% else %}
<li>No Deezer playlist</li>
{% endif %}
</ul>
</ul>