{% spaceless %}
<li id="deezer-menu">
    <a href="#">Deezer</a>
    <ul>
    {% if not is_granted('ROLE_DEEZER') %}
         <li>{% include 'CogimixDeezerBundle:Login:loginLink.html.twig' %}</li>
    {% else %}
         <li>{% include 'CogimixDeezerBundle:Login:logoutLink.html.twig' %}</li>
    {% endif %}
    </ul>
</li>
{% endspaceless %}